body {
    background-color: rgb(173, 211, 239);
}

.content-area, .second-area {
    width: 50%;
    float: left;
    margin: 5px;
}

.content-box, .second-box {
    background-color: purple;
    color:black;
    border: 2px solid white;
    margin-left: 5px;
    padding: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    width: 80%;
    height: 5%;
    text-align: center;
}

#contact, #Add-Text {
    background-color: purple;
    float:left;
    width:40%;
    color:black;
    border: 2px solid white;
    border-radius: 15px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

